.product {
    border: 3px solid #6f51f779;
    display: flex;
    padding: 1rem;
    border-radius: 16px;
    justify-content: space-between;

    .data__title {
        font-size: 18px;
        font-weight: 700;
    }

    .data__description {
        white-space: pre-line;
    }

    .data__prices {
        display: flex;
        font-size: 18px;

        .old_price {
            margin-left: 6px;
            color: red;
            font-size: 14px;
            text-decoration: line-through;
        }
    }

    button {
        padding: 0.5rem 1rem;
        margin-top: auto;
        align-self: flex-start;
        font-size: 16px;
        border: none;
        border-radius: 50px;
        color: white;
        background-color: #8168f0;
        font-weight: 700;

        &:hover {
            background-color: #8168f0b0;
        }
    }
}