.slider {
    border-top: 3px solid #8168f0;
    border-bottom: 3px solid #8168f0;
    margin-bottom: 1rem;

    img {
        height: 350px;
        width: 100%;
    }

    h3,
    p {
        background-color: #8168f0;
        color: white;
        border-radius: 12px;
    }

}